local ABILITY = {}

ABILITY.Name = ""
ABILITY.Id = ""
ABILITY.Description = ""
ABILITY.Icon = ""

if SERVER then
    function ABILITY:Bought(soulbound)

    end

    function ABILITY:Condition(soulbound, target)
        return true
    end

    function ABILITY:Use(soulbound, target)

    end

    function ABILITY:Passive(soulbound)

    end

    function ABILITY:Cleanup(soulbound)

    end
end

if CLIENT then
    function ABILITY:DrawHUD(soulbound, x, y, width, height, key)

    end
end

--SOULBOUND:RegisterAbility(ABILITY)